* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.img-login {
  background-image: url("../images/login.jpeg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-size: center !important;
}

.img-register {
  background-image: url("../images/registro.jpeg") !important;
  background-repeat: repeat !important;
  background-size: contain !important;
  background-size: center !important;
}

.menu-main {
  padding: 10px;
  position: fixed;
  z-index: 900;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.menu-main li {
  list-style: none;
}
.menu-main li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  display: block;
  padding: 10px;
  transition: all 300ms;
}
.menu-main li a:hover {
  border-radius: 3px;
  background-color: dodgerblue;
}

#login-init {
  width: 100%;
  height: 100vh;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
#login-init .div-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
}
#login-init .div-form input {
  width: 100%;
  margin: 5px;
  padding: 13px;
}
#login-init .div-form button {
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  background-color: dodgerblue;
}

#projects {
  background-image: url("../images/main.jpeg");
  width: 100%;
  height: 400px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
#projects .a {
  background-color: rgba(0, 0, 0, 0.8);
  width: 90%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#projects .a h2, #projects .a p {
  color: white;
}
#projects .a p {
  margin-top: 10px;
  width: 80%;
}